@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", "Assistant";
  background-color: #18181b;
}

nav {
  padding: 20px 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

nav .logo a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

nav .nav-link {
  display: flex;
  gap: 16px;
}

nav .nav-link a {
  color: #fff;
  transition: color 0.3s ease;
}

nav .nav-link a:hover {
  color: #1d4ed8;
}

/* First Articles Landing */

.landing {
  padding: 0 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  height: calc(100vh - 80px);
  color: #fff;
}

.landing .info h1 {
  font-size: 44px;
  margin-bottom: 30px;
}

.landing .info p {
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
}

.landing img {
  width: 400px;
  height: 400px;
  border-radius: 140px;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 10px 30px rgb(29, 78, 216, 0.5);
}

.landing li {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 10px;
}

/*Second Articles Activities  */

.page-activities {
  padding: 60px 148px;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  background-color: #1e1e20;
}

.activities {
  display: flex;
  padding: 30px 148px 80px;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e20;
  gap: 20px;
}

.activities > P {
  width: 970px;
  font-size: 15px;
  margin: 20px 0;
}

.activities .container-drawing,
.activities .container-gardening,
.activities .container-gaming {
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 30px;
  width: 970px;
  border-radius: 20px;
  background-color: #18181b;
  color: #fff;
}

.activities img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.activities .container .content-about > p {
  text-align: justify;
}

/* Breakpoint Media Query  */

@media screen and (max-width: 1400px) {
  nav {
    padding: 20px 60px;
  }

  .landing {
    padding: 0 60px;
  }

  .page-activities {
    padding: 80px 60px 20px;
  }
}

@media screen and (max-width: 1200px) {
  nav {
    padding: 20px 40px;
  }

  .landing {
    padding: 0 40px;
  }

  .landing img {
    width: 340px;
    height: 340px;
  }

  .page-activities {
    padding: 80px 40px 20px;
  }

  .activities .container-drawing,
  .activities .container-gardening,
  .activities .container-gaming {
    width: 100%;
  }

  .activities .container-drawing img,
  .activities .container-gardening img,
  .activities .container-gaming img {
    width: 250px;
    height: 250px;
  }

  .activities .container-drawing .content-about > p,
  .activities .container-gardening .content-about > p, 
  .activities .container-gaming .content-about > p{
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  nav {
    padding: 20px;
  }

  .landing {
    padding: 0 20px;
  }

  .landing img {
    width: 300px;
    height: 300px;
  }

  .landing .info h1 {
    font-size: 34px;
  }

  .landing .info p {
    font-size: 15px;
  }

  .activities {
    padding: 30px 20px 60px;
  }

  .activities .container-drawing .content-about > p,
  .activities .container-gardening .content-about > p, 
  .activities .container-gaming .content-about > p{
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: center;
  }

  nav .logo {
    display: none;
  }

  .landing {
    flex-direction: column;
    justify-content: space-around;
    margin: 40px 0;
    height: auto;
  }

  .landing .info h1 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .landing .info p {
    margin-bottom: 16px;
  }

  .landing img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 50px;
  }

  .activities .container-drawing,
  .activities .container-gardening,
  .activities .container-gaming {
    flex-direction: column;
  }

  .activities .container-drawing img,
  .activities .container-gardening img,
  .activities .container-gaming img {
    display: none;
  }
}